body{
    background-color: blue;
}
.kotak{
    text-align: center;
    align-items: center;
    background-color: orange;
    width: 500px;
    border: 5px;
    border-color: black;
    width: 50%;
	margin: auto;
	padding: 20px;
}

.kotak p{
    text-align: start;
}